@model WebMarkerSpace.Models.MaterialViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Material</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstaDisponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstaDisponible)
        </dd>
        <dd class="col-sm-11">
            @if (!string.IsNullOrEmpty(Model.Imagen))
            {
                <img src="@Model.Imagen" height="150" width="150" alt="Imagen del material" />
            }
            else
            {
                <p>No hay imagen disponible para este material (Valor en BD: '@Model.Imagen')</p>
            }
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity != null && User.Identity.IsAuthenticated && Model.EstaDisponible)
    {
        <a asp-controller="Prestamo" asp-action="Create" asp-route-materialId="@Model.Id" class="btn btn-primary">Solicitar préstamo</a>
    }
    else if (User.Identity == null || !User.Identity.IsAuthenticated)
    {
        <a asp-controller="Usuario" asp-action="Login" class="btn btn-outline-primary">Inicia sesión para solicitar este material</a>
    }
    @if (User.IsInRole("Administrador"))
    {
        <text> </text>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-secondary" })
    }
    <a asp-action="Index" class="btn btn-link">Volver a la lista</a>
</div>
