@model IEnumerable<WebMarkerSpace.Models.MaterialViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Materiales</h1>

@if (User.IsInRole("Administrador"))
{
    <p>
        <a asp-action="Create">Crear Nuevo</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstaDisponible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstaDisponible)
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id = item.Id })
                @if (User.IsInRole("Administrador"))
                {
                    <text> | </text>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                    <text> | </text>
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
}
    </tbody>
</table>
