@using Microsoft.Extensions.Localization
@using System.Linq
@using ApplicationCore.Domain.Enums
@using Microsoft.AspNetCore.Mvc.Rendering
@model WebMarkerSpace.Models.PrestamoViewModel

@{
    ViewData["Title"] = Localizer["EditarPrestamo"];

    var estadoItems = new SelectList(
        Enum.GetValues(typeof(EstadoPrestamo)).Cast<EstadoPrestamo>()
            .Select(e => new SelectListItem(Localizer.Localize(e), e.ToString())),
        "Value", "Text", Model.Estado);
}

<h1>@Localizer["EditarPrestamo"] #@Model.Id</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.Id" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-3">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId"
                        class="form-control"
                        asp-items="ViewBag.UsuarioId">
                </select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado"
                        class="form-control"
                        asp-items="estadoItems">
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="TotalDias" class="control-label"></label>
                <input asp-for="TotalDias" class="form-control" />
                <span asp-validation-for="TotalDias" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit"
                       value="@Localizer["Guardar"]"
                       class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Id">
        @Localizer["VolverPrestamo"]
    </a>
    |
    <a asp-action="Index">
        @Localizer["VolverLista"]
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
