@model IEnumerable<WebMarkerSpace.Models.UsuarioViewModel>

@if (!Model.Any())
{
    <div class="alert alert-info">
        @Localizer["Usuario.Index.Empty"]
    </div>
}
else
{
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>@Localizer["Common.Field.Username"]</th>
                <th>@Localizer["Common.Field.Email"]</th>
                <th>@Localizer["Common.Field.Role"]</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        @foreach (var item in Model)
        {
            <tr data-usuario-id="@item.Id">
                <td>@item.Nombre</td>
                <td>@item.Email</td>
                <td>@Localizer.Localize(item.Rol)</td>

                <td class="text-end">

                    <a asp-action="Details"
                       asp-route-id="@item.Id"
                       class="btn btn-outline-info btn-sm">
                        @Localizer["Common.Details"]
                    </a>

                    <a asp-action="Edit"
                       asp-route-id="@item.Id"
                       class="btn btn-outline-primary btn-sm">
                        @Localizer["Common.Edit"]
                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@item.Id"
                       class="btn btn-outline-danger btn-sm js-borrar-usuario"
                       data-id="@item.Id"
                       data-nombre="@item.Nombre">
                        @Localizer["Eliminar"]
                    </a>

                </td>
            </tr>
        }
        </tbody>
    </table>
}